<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVGenCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TVGenCode.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>TVServer</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>UnimOs</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>truongviet</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
        </TVGenCode.Properties.Settings>
    </userSettings>
</configuration>